[core]
	excludesfile = /Users/maticko/.gitignore_global
[user]
	name = Matic Lesjak
	email = matic.lesjak@gmail.com
	signingkey = 575C8BF8
[push]
	default = current
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
	s = "checkout stable"
        rbs = "pull --no-commit --rebase origin stable"
        rbm = "pull --no-commit --rebase origin master"
[commit]
#	gpgsign = true
